#symptom2-section{
    padding:20px 15px 200px 15px ;
    margin-bottom:0;
}

#symptom2-section .container{
    padding: 10px 10px 10px 10px;
}

#symptom2-section .title{
    position: relative;
    width:300;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#symptom2-section .title h1{
    position: relative;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color:black;
    z-index: 1;
}

#symptom2-section .symptom-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    width:1200px;
}

#symptom2-section .symptom-container .box{
    background: black;
    display: block;
    transition : all .4s ease-in-out;
    cursor: pointer;
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}
#symptom2-section .symptom-container .box:hover{
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
    -moz-box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
    box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
}
#symptom2-section .symptom-container .box .image .hover-bg {
    padding: 10px 20px;
    background: rgba(255,255,255,0);
    transition: all .4s ease-in-out;
    height : 100%;
    width : 100%
}
#symptom2-section .symptom-container .box:hover .image .hover-bg {
    padding: 10px 20px;
    background:  #8996d18f;
    /*rgba(255,53,53,.8);*/
    height : 100%;
    width : 100%;
}
#symptom2-section .symptom-container .box .image .hover-bg .title {
    height : 100%;
    width : 100%;
}
#symptom2-section .symptom-container .box .image .hover-bg .title .text{
    background : black;
    border-radius: 5px;
    padding : 10px 20px;
    transform: translate3d(0,400px,0);
    transition: all .5s ease-in-out;
    opacity: 0; 
}
#symptom2-section .symptom-container .box:hover .image .hover-bg .title .text{
    background : black;
    border-radius: 5px;
    padding : 10px 20px;
    transform: translate3d(0,0,0);
    opacity: 1; 
}
/*Box1 location*/
#symptom2-section .symptom-container .box.image1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#symptom2-section .symptom-container .box.image1 .image{
    background : url("../image-page/noise2.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/*Box2 location*/
#symptom2-section .symptom-container .box.image2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#symptom2-section .symptom-container .box.image2 .image{
    background : url("../image-page/cloth.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*Box3 location*/
#symptom2-section .symptom-container .box.image3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#symptom2-section .symptom-container .box.image3 .image{
    background : url("../image-page/panel.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*Box4 location*/
#symptom2-section .symptom-container .box.image4{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
#symptom2-section .symptom-container .box.image4 .image{
    background : url("../image-page/drain.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*Box5 location*/
#symptom2-section .symptom-container .box.image5{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#symptom2-section .symptom-container .box.image5 .image{
    background : url("../image-page/error.png");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*Box6 location*/
#symptom2-section .symptom-container .box.image6{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#symptom2-section .symptom-container .box.image6 .image{
    background : url("../image-page/fill.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*Box7 location*/
#symptom2-section .symptom-container .box.image7{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#symptom2-section .symptom-container .box.image7 .image{
    background : url("../image-page/leak.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*Box8 location*/
#symptom2-section .symptom-container .box.image8{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#symptom2-section .symptom-container .box.image8 .image{
    background : url("../image-page/door2.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*Box9 location*/
#symptom2-section .symptom-container .box.image9{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#symptom2-section .symptom-container .box.image9 .image{
    background : url("../image-page/load.png");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*Box10 location*/
#symptom2-section .symptom-container .box.image10{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#symptom2-section .symptom-container .box.image10 .image{
    background : url("../image-page/electricity.png");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*Box11 location*/
#symptom2-section .symptom-container .box.image11{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#symptom2-section .symptom-container .box.image11 .image{
    background : url("../image-page/smell4.jpg");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*Box12 location*/
#symptom2-section .symptom-container .box.image12{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#symptom2-section .symptom-container .box.image12 .image{
    background : url("../image-page/app2.png");
    height : 100%;
    width : 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}


/*Box hover */
#symptom2-section .symptom-container .box h5{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}


