<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>   
  <body>
    <header>
      <div class="logo">
        <img src="../static/image-page/tl5.png" href="index.html">
      </div>
      <div class="header-menu">
        <a href="index.html">Home</a> 
        <a href="index.html#product-section">Product</a>
        <a href="index.html#symptom-section">Top Loader</a>
        <a href="index.html#symptom2-section">Front Loader</a>
        <a href="index.html#summary-section">Q&A</a>
      </div>
      <div class ="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="mobile-menu">
        <a href="index.html">Home</a> 
        <a href="index.html#product-section">Product</a>
        <a href="index.html#symptom-section">Top Loader</a>
        <a href="index.html#symptom2-section">Front Loader</a>
        <a href="index.html#summary-section">Q&A</a>>
      </div>
    </header>

    <section id="top">
      <div class="container">
        <div class="info">
          <h1 class="neonText">Customer Support </h1>
          <h2> Washing Machine </h2>
          <h3> Video Tutorial <i class="fas fa-video"></i> </h3>
        </div>
        <div class="symbol">
          <h4 class="neonIcon">
          </h4>
        </div>
      </div>
    </section>

    <section id="introduction-section">
      <div class="container">
        <div class="title">
          <h1>Introduction</h1>
        </div>
        <div class="introduction-container">
          <div class="box blue">
            <h5>Reliability</h5>
            <p>Made by Production Site, contents are updated with most recent increasing service trend on real-time</p>
          </div>
          <div class="box red">
            <h5>Speedy</h5>
            <p>Faster way to solve your issue compared to call representitive(10-30min) or service technician (7-10days)</p>
          </div>
          <div class="box yellow">
            <h5>Easy</h5>
            <p>Easy to see and try on you washer with detailed video.   </p>
          </div>
        </div>
      </div>
    </section>

    <section id="product-section">
      <div class="container">
        <div class="title">
          <h1>What is your Product?</h1>
        </div>
        <div class="product-container">
          <a href="#" class="box image1">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Top Loader</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image2">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Front Loader</div>
                </div>
              </div>
            </div>
          </a>
    </section>
    
    <section id="symptom-section">
      <div class="container">
        <div class="title">
          <h1>What is your Top Loader symptom?</h1>
        </div>
        <div class="symptom-container">
          <a href="#" class="box image1">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Noise/Vibration</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image2">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Clothing Issue</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image3">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Cycle/Operation</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image4">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Drainage</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image5">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Error Message</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image6">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Filling</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image7">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Leaking</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image8">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Door</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image9">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Loading Size</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image10">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Power Issue</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image11">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Smell/Odor</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image12">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">ThinQ Application</div>
                </div>
              </div>
            </div>
          </a>
    </section>

    <section id="symptom2-section">
      <div class="container">
        <div class="title">
          <h1>What is your Front Loader symptom?</h1>
        </div>
        <div class="symptom-container">
          <a href="#" class="box image1">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Noise/Vibration</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image2">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Clothing Issue</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image3">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Cycle/Operation</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image4">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Drainage</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image5">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Error Message</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image6">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Filling</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image7">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Leaking</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image8">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Door</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image9">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Loading Size</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image10">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Power Issue</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image11">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Smell/Odor</div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="box image12">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">ThinQ Application</div>
                </div>
              </div>
            </div>
          </a>
    </section>


  </body>
</html>




