<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>   
  <body>
    <header>
      <div class="logo">
        <img src="../static/image-page/tl5.png" href="index.html">
      </div>
      <div class="header-menu">
        <a href="index.html">Home</a> 
        <a href="index.html#introduction-section">Introduction</a>
        <a href="index.html#project-section">Project</a>
        <a href="index.html#experience-section">Experience</a>
        <a href="index.html#summary-section">Summary</a>
      </div>
      <div class ="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="mobile-menu">
        <a href="index.html">Home</a> 
        <a href="index.html#introduction-section">Introduction</a>
        <a href="index.html#project-section">Project</a>
        <a href="index.html#experience-section">Experience</a>
        <a href="index.html#summary-section">Summary</a>
      </div>
    </header>

    <section id="top">
      <div class="container">
        <div class="info">
          <h1 class="neonText">Customer Support </h1>
          <h2> Washing Machine </h2>
          <h3> Video Tutorial</h3>
        </div>
        <div class="symbol">
          <h4 class="neonIcon">
            <i class="fas fa-lightbulb"></i> 
          </h4>
        </div>
      </div>
    </section>

    <section id="introduction-section">
      <div class="container">
        <div class="title">
          <div class="circle"></div>
          <h1>Introduction</h1>
        </div>
        <div class="introduction-container">
          <div class="box blue">
            <i class="fas fa-trophy"></i>
            <h5>Reliability</h5>
            <p>Made by Production Site, </p>
          </div>
          <div class="box red">
            <i class="fas fa-code"></i>
            <h5>Best Quality</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque reiciendis unde quod, vero fuga corporis hic porro consequuntur vel, cupiditate ipsam? Beatae tenetur voluptatum cum fugit porro temporibus provident in.</p>
          </div>
          <div class="box yellow">
            <i class="fas fa-database"></i>
            <h5>Best Quality</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque reiciendis unde quod, vero fuga corporis hic porro consequuntur vel, cupiditate ipsam? Beatae tenetur voluptatum cum fugit porro temporibus provident in.</p>
          </div>
        </div>
      </div>
    </section>


    <section id="project-section">
      <div class="container">
        <div class="title">
          <div class="square"></div>
          <h1>project</h1>
        </div>
        <div class="project-container">
          <a href="#" class="box image1">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Quality Indicators</div>
                </div>
              </div>
            </div>
          </a>

          <a href="#" class="box image2">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Vision System</div>
                </div>
              </div>
            </div>
          </a>


          <a href="service.html" class="box image3">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Service & Sales Trend</div> 
                </div>
              </div>
            </div>
          </a>


          <a href="#" class="box image4">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Real-Time Product Monitoring</div>
                </div>
              </div>
            </div>
          </a>


          <a href="#" class="box image5">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Line Audit System</div>
                </div>
              </div>
            </div>
          </a>


          <a href="#" class="box image6">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Automatic Email Sending</div>
                </div>
              </div>
            </div>
          </a>


          <a href="#" class="box image7">
            <div class="image">
              <div class ="hover-bg">
                <div class="title">
                  <div class="text">Portfolio Website</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>


    </section>
>

    
  </body>
</html>




